<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Palatinate Tech</title>
</head>

<body>
  <h1>Welcome to Palatinate Tech!</h1>
  <marquee>We hope you enjoy our World Wide Website</marquee>
  <div class="centered">
    <a href="posts">Posts</a>
    <a href="people">People</a>
  </div>
</body>
</html>
